@model HomeVM 
<footer>
                <section id="footer">
                    <div class="container">
                           <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Shop</a></li>
                            <li><a href="#">Track Your</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact us</a></li>
                           </ul>
                           <div class="img">
                            <img src="~/assets/images/@Model.Settings.FooterImage" alt="">
                           </div>
                           <div class="text">
                            <span>Copyright © 2021 Vinovathemes. All rights reserved.</span>
                           </div>
                        
                    </div>
                </section>
              </footer>